/* reset css  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

body {
	line-height: 1;
}

/* fin reset css  */

@font-face {
    font-family:'Poppins';
    src: url("fonts/poppins-bold.woff2"), url("fonts/poppins-bold.woff");
    font-weight: bold;
}



body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

html, body { 
    position: relative;
    margin: 0;
    background: linear-gradient(180deg, #12F4A3 0%, #A8B1FF 100%);
    background-attachment: fixed;
}

img {
    width: auto;
    height: auto;
}

.header {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #39f0ad;
    padding: 5px;
}

.header_desktop {
    display: none;
}

.header img {
    padding-top: 10px;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}


.block_my_batch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
    border-radius: 25% 25% 0 0;
}

.block_my_batch h4 {
    margin: 10px 0 5px 0;
    color: #339779;
}

.block_my_batch h6 {
    margin: 5px;
    color: #339779;
}

.planning {
    width: 255px;
    margin-top: 5px;
}

.planning ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding: 0;
    gap: 5px;
}

.planning li {
    background-color: #8f9af8;
    border-radius: 6%;
}

.planning li:hover {
    background-color: #7e8af5;
}

.planning ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    color: #fffdfd;
}

.lien_planning {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 10px;
    color: #fffdfd;
    margin-top: 5px;
}

.block_mes_ingredients {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 44px;
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
    border-radius: 25% 25% 0 0;
    color: #339779;
    margin: 25px 0 10px 0;
}

.btn_conteneur ul {
    display: flex;
    gap: 6px;
    margin: 0;
    padding: 0;
}

.btn_block a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 73px;
    height: 73px;
    border: 4px solid  #F9F9F9;
    border-radius: 0 0 15% 15%;
    text-decoration: none;
    color: #fffdfd;
    font-size: 12px;
}

.btn_block {
    color: #fffdfd;
}

.menu {
    width: 300px;
}

.block_menu_vegan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    height: 68px;
    background: url("img_ingre.png");
    box-sizing: border-box;
    border-radius: 15px 15px 0px 0px;
}

.block_menu_vegan h6 {
    -webkit-text-stroke: 1px black;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

.menu_conteneur {
    background-color: hsl(213, 71%, 87%);
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 5%;
}

.menu_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px 0 3px;
    height: 24px;
    background-color: #F9F9F9;
    color: #339779;
}

.menu_title h4 {
    margin: 0;
}

.menu_text {
    margin-top: 10px;
}

.menu_text_list {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 5px;
    gap: 10px;
}


.img_recette1, .img_recette2, .img_recette3, .img_recette4, .img_recette5, .img_recette6  {
    width: 90px;
    height: 100px;
}

.recette h4 {
    height: 55px;
    color: rgb(68, 65, 65);
    font-size: 14px;
    border: 1px solid gainsboro;
}

.recette button {
    width: 100%;
    color: rgb(68, 65, 65);
}

.emotico_recette {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
}

.menu_lien {
    padding: 10px;
}

.choix_menu {
    width: 300px;
}

.block_choix_objectif {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 10px 0;
    height: 40px;
    border: 1px solid #F9F9F9;
    border-radius: 15px 15px 0px 0px;
    background-color: #F9F9F9;
    color: #339779;
}

.conteneur_menus {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.box_menu {
    border: 1px solid #F9F9F9;
    border-radius: 5%;
    font-size: 11px;
    color: rgb(68, 65, 65);
    background-color: #F9F9F9;
}

.box_menu_text li {
    padding: 2px;
}

.img_menus {
    width: 100%;
}

.btn_voir {
    margin-top: 10px;
    background-color: transparent;
    border:2px solid #F9F9F9;
    color: #fffdfd;
    padding: 2px 30px 2px 30px;
}

.end {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.end p {
    margin: 20px 0;
}

.btn_creat {
    font-size: 12px;
    color: #559ea3;
    padding: 15px 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #9da5f1;
    padding: 5px;
}


@media (min-width: 768px) {
    .home {
        width: 75%;
    }

    .menu, .choix_menu {
        width: 85%;
    }

    .block_my_batch {
        font-size: 22px;
    }

    .block_my_batch h6 {
        font-size: 18px;
    }
    
    .planning {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 15px;
    }

    .planning ul {
        justify-content: center;
        gap: 10px;
    }


    .planning ul li a {
            width: 115px;
            height: 115px;
            font-size: larger;
    }

    .lien_planning {
        font-size: large;
        margin-top: 25px;
    }

    .block_mes_ingredients {
        height: 60px;
        font-size: larger;
        gap: 15px;
        margin: 45px 0 20px 0;
    }

    .btn_conteneur ul {
        justify-content: center;
        gap: 20px;
    }

    .btn_block a {
        width: 115px;
        height: 115px;
        font-size: 18px;
        gap: 20px;
    }

    .block_menu_vegan {
        background-size: cover;
        height: 80px;
    }

    .block_menu_vegan h6 {
        font-size: 28px;
    }

    .menu_conteneur_media {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }


    .menu_title {
        font-size: larger;
        padding: 5px;
    }

    .recette {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .emotico_recette {
        width: 100%;
    }

    .recette h4 {
        font-size: 18px;
        margin-bottom: 15px;
        text-align: center;
    }

    .img_recette1, .img_recette2, .img_recette3, .img_recette4, .img_recette5, .img_recette6 {
        width: auto;
    }

    .recette button {
        padding: 3px 6px;
    }

    .emotico_recette {
        margin: 15px 0 10px 0;
    }

    .menu_lien {
        text-align: center;
        margin-top: 20px;
        font-size: larger;
    }

    .block_choix_objectif {
        height: 60px;
        font-size: larger;
    }

    .conteneur_menus {
        justify-content: space-around;
        gap: 0px;
    }

    .box_menu {
        width: 150px;
    }

    .box_menu_text_title {
        text-align: center;
        font-size: large;
    }

    .box_menu_text li {
        font-size: medium;
    }

    .btn_voir {
        font-size: x-large;
        margin-top: 25px;
    }

    .btn_creat {
        font-size: larger;
    }
}

@media (min-width: 1200px) {
    .header {
        display: none;
    }

    .header_desktop {
        display: flex;
        justify-content: space-around;
        position: fixed;
        width: 100%;
        top: 0;
        background-color: #39f0ad;
        padding: 5px;
    }

    .img_header_basic, .img_header_desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 50%;
    }

    .home {
        display: flex;
        gap: 50px;
    }

    .home_article, .home_article2 {
        width: 50%;
    }

    .home_article2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block_mes_ingredients{
        width: 80%;
        height: 75px;
        margin-top: 0;
    }

    .btn_conteneur{
        width: 80%;
    }

    .btn_conteneur ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn_block{
        width: 70%;
    }

    .btn_block a {
        font-size: 26px;
        width: 100%;
    }

    .block_menu_vegan h6 {
        font-size: 32px;
    }

    .menu_conteneur_media {
        justify-content: space-around;
        gap: 0;
    }

    .menu_text_list li  {
        width: 160px;
    }

    .img_recette1, .img_recette2, .img_recette3, .img_recette4, .img_recette5, .img_recette6 {
        width: 100%;
        height: auto;
    }

    .menu_lien {
        font-size: 32px;
    }

    .box_menu {
        width: 250px;
    }

    .end {
        margin-bottom: 50px;
    }

    .footer {
        display: none;
    }
}